setuptools
mkl
datasets==2.0.0
pathos
nltk
pytest
scikit-learn
sentencepiece
transformers==4.36.2
huggingface_hub
accelerate
protobuf
azureml-core
azureml-sdk
matplotlib
pandas
chardet
access_dict_by_dot
boto3
psutil
pyemd
spacy
tensorboard
peft
bitsandbytes
vllm