header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 75px;
}

#main {
    font-size: 14px;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
    font-weight: 600;
    margin: 5px 0;
}

#main button {
    text-transform: none;
    padding: 8px 12px;
    font-weight: 300;
    width: 80%;
    min-width: 230px;
}

a {
    color: #17a2b8;
}

.list-group-item p {
    margin: 5px 0;
}

.card {
    margin-bottom: 10px;
}

.list-group {
    margin-bottom: 10px;
}

.card-header {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    background: #eee;
}

.badge {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

code,
pre {
    background: #eee;
    padding: 1px 3px;
}

.table td,
.table th {
    padding: .42em;
}

.table {
    margin-top: 8px;
}

.far,
.fas {
    font-size: 18px;
}

.affiliation {
    font-style: italic;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: .75rem;
}

.paperlink {
    font-size: .85em;
}

.crossed {
    position: relative;
    padding: .1rem;
    overflow: hidden;
}

.crossed:before,
.crossed:after {
    position: absolute;
    content: '';
    background: #dc3545 !important;
    display: block;
    width: 20%;
    height: 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1px;
}

.crossed:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.supfact {
    color: #28a745
}

span.line {
    display: inline-block;
}

.data-paragraph,
.data-question,
.data-answer {
    margin-bottom: 8px;
    transition: height .2s;
}

.data-paragraph .paragraph-title {
    color: #888888;
}

.data-paragraph .supfact {
    background: #bbffcc;
    border-radius: 3px;
    color: inherit;
    transition: background-color .2s;
}

.data-paragraph .hide {
    background: none !important;
}

#bird-title {
    color: #9de2dd
}

#logo-img {
    display: block;
    /* max-height: 100%; */
    height: 95px;
}

#caption{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

#introduction{
    font-size: 15px;
    font-family: sans-serif;
}

#paper{
    background-color: #34314c;
    border-color: #34314c;
}

#kg-img{
    width: 280px;
}

#dirty-img-1{
    width: 420px;
}

#dirty-img-2{
    width: 220px;
    text-align: center;
}

#eff-img{
    width: 400px;
}

#illustration{
    font-family: Arial, Helvetica, sans-serif;
}

#code{
    background-color: #1F7872;
}