--extra-index-url https://download.pytorch.org/whl/cu113
fairseq==0.12.2
transformers==4.20.1
huggingface-hub==0.8.1
sacrebleu==2.1.0
sentencepiece==0.1.96
idna
joblib
nltk==3.7
numpy
PyYAML==6.0
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm