bleu==0.3
blis==0.4.1
boto3==1.15.6
botocore==1.18.6
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cymem==2.0.3
efficiency==0.4
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
jmespath==0.10.0
joblib==0.16.0
murmurhash==1.0.2
nltk==3.5
numpy==1.19.2
packaging==20.4
plac==1.1.3
preshed==3.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
regex==2020.7.14
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
spacy==2.3.2
srsly==1.0.2
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
torch==1.0.1
tqdm==4.49.0
transformers==3.2.0
urllib3==1.25.10
wasabi==0.8.0
zipp==3.2.0

