transformers==4.37.2
flash-attn==2.4.2
trl==0.7.7
accelerate>=0.21
peft
sentencepiece
openai==0.28
tiktoken
colorama
einops
wandb

protobuf
aiohttp
fastapi
httpx
markdown2[all]
nh3
prompt_toolkit>=3.0.0
pydantic<2,>=1
rich>=10.0.0
shortuuid
uvicorn
backoff

ai2thor==2.1.0
opencv-python
textworld[pddl]>=1.6.1
alfworld
gdown