pycocoevalcap
validators
visual_genome
xlsxwriter
sty
transformers==4.43.4
openai-whisper
git+https://github.com/shivammehta25/Matcha-TTS.git
bitsandbytes==0.44.1
dac==0.4.2
decord==0.6.0
deepspeed==0.15.3
editdistance==0.5.2
einops==0.8.0
einops_exts==0.0.4
flash_attn==2.7.2.post1
gradio==5.9.1
gradio_multimodalchatbot==0.0.1
huggingface_hub==0.25.0
HyperPyYAML==1.2.2
inflect==7.0.0
k_diffusion==0.1.1.post1
matcha_tts==0.0.7.2
matplotlib==3.10.0
modelscope==1.19.2
natten==0.17.3
numpy==2.2.1
omegaconf==2.3.0
onnxruntime==1.19.2
openai_whisper==20240930
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
packaging==24.2
pandas==2.2.3
peft==0.12.0
Pillow==11.0.0
portalocker==2.10.1
pyarrow==17.0.0
pycocoevalcap==1.2
python-dotenv==1.0.1
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
rich==13.9.4
scipy==1.14.1
seaborn==0.13.2
shortuuid==1.0.13
sounddevice==0.5.1
sty==1.0.6
tabulate==0.9.0
tiktoken==0.8.0
tn==0.0.4
tokenizers==0.21.0
torch==2.3.0
torchaudio==2.3.0
tqdm==4.66.5
transformers==4.43.4
ttsfrd==0.2.1
validators==0.34.0
x_transformers==1.43.4
xformers==0.0.26.post1

