absl-py==0.15.0
aiohttp==3.7.4.post0
antlr4-python3-runtime==4.8
astunparse==1.6.3
async-timeout==3.0.1
attr==0.3.1
attrs==21.2.0
babel==2.9.1
bert-score==0.3.10
cached-property==1.5.2
cachetools==4.2.4
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
clang==5.0
click==8.0.1
colorama==0.4.4
configparser==5.0.2
cycler==0.10.0
cython==0.29.24
datasets
deepspeed==0.5.6
dill==0.3.4
docker-pycreds==0.4.0
docopt==0.6.2
et-xmlfile==1.1.0
extensionclass==4.5.1
fairseq
filelock==3.0.12
fitlog==0.9.13
flask==2.0.1
flatbuffers==1.12
fsspec==2021.8.1
future==0.18.2
gast==0.4.0
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.41.0
h5py==3.1.0
huggingface-hub==0.0.12
hydra-core==1.0.7
idna==3.2
imageio==2.9.0
importlib-metadata==4.6.1
importlib-resources==5.2.2
itsdangerous==2.0.1
jdcal==1.4.1
jinja2==3.0.1
joblib==1.0.1
keras==2.6.0
keras-preprocessing==1.1.2
kiwisolver==1.3.1
markdown==3.3.4
markupsafe==2.0.1
matplotlib==3.4.2
moverscore==1.0.3
multidict==5.2.0
multiprocess==0.70.12.2
networkx==2.6.2
nltk==3.6.2
numpy==1.19.5
oauthlib==3.1.1
omegaconf==2.0.6
openai
openpyxl==2.4.11
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
pathtools==0.1.2
pillow==8.3.1
pip==21.2.4
portalocker==2.3.2
promise==2.3
protobuf==3.17.3
psutil==5.8.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyemd==0.5.1
pynvml==11.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
pywavelets==1.1.1
pyyaml==5.4.1
rapidfuzz==1.6.0
rdflib==6.0.2
record==3.5
records==0.5.3
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
rouge-score==0.0.4
rsa==4.7.2
sacrebleu==1.5.0
sacremoses==0.0.43
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.7.0
sentencepiece==0.1.95
sentry-sdk==1.3.1
shortuuid==1.0.1
six==1.15.0
sklearn==0.0
smmap==4.0.0
sqlalchemy==1.3.10
sqlparse==0.4.2
subprocess32==3.5.4
tablib==3.0.0
tabula==1.0.5
tabulate==0.8.9
tenacity==7.0.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
tf-slim==1.1.0
threadpoolctl==2.2.0
tifffile==2021.8.8
tokenizers==0.10.3
torch==1.7.1
tqdm==4.62.3
transformers==4.9.2
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.26.6
wandb==0.12.1
werkzeug==2.0.1
wikiextractor
word2number==1.1
wrapt==1.12.1
xxhash==2.0.2
yarl==1.7.0
zipp==3.5.0
